---
ansible_python_interpreter: /usr/bin/python3

lab_dir: /opt/student-lab

# Create a free account on zerossl.com to get these values.
acme_email: <ACME_EMAIL>
acme_zerossl_hmac_encoded: <ACME_ZEROSSL_HMAC_ENCODED>
acme_zerossl_kid: <ACME_ZEROSSL_KID>
# Alternatively, add "self_signed.crt" and "self_signed.key" in services/traefik/certs and set traefik_use_self_signed to true.
traefik_use_self_signed: false

traefik_crowdsec_bouncer: true
# If not present and CrowdSec Traefik plugin is enabled, suspected bots will receive an HTTP error code instead of a CAPTCHA challenge.
hcaptcha_site_key: 

# Bring your own keys (optional).
openai_api_key: 
anthropic_api_key: 
groq_api_key: 

# Client id as present in keycloak.
oauth_client_id: traefik-forward-auth

# If lab_domain left unset then the default will be: "{{ lab_external_ip }}.traefik.me".
#lab_domain:

# Used for configuring sshwiftly and ssh key, defaults to string returned by "curl -s -4 https://ifconfig.me".
lab_external_ip:

# This user will be created if uid 1000 not exists.
lab_user: labuser

# Default system locale.
locale_encoding: UTF-8
locale_language: en_US
locale_language_all: en_US:en
locale_origin: en_US
locale_time: C
system_timezone: Etc/UTC

# Set to true when provisioning with Vagrant.
is_vagrant: false
