services:
  traefik-forward-auth:
    image: lracz/traefik-forward-auth:latest
    container_name: traefik-forward-auth
    restart: unless-stopped
    user: "1000:1000"
    # ports:
    # - "4181:4181"
    # noinspection HttpUrlsUsage
    environment:
      - DEFAULT_PROVIDER=oidc
      - PROVIDERS_OIDC_ISSUER_URL=http://auth.${DOMAIN}/realms/newpush-labs
      - PROVIDERS_OIDC_CLIENT_ID={{ oauth_client_id }}
      - PROVIDERS_OIDC_CLIENT_SECRET={{ oauth_client_secret }}
      - SECRET={{ cookie_secret }}
      - AUTH_HOST=auth.${DOMAIN}
      - COOKIE_DOMAIN=${DOMAIN}
      - LOG_LEVEL=debug
      - INSECURE_COOKIE=true # Example assumes no https, do not use in production
    labels:
      - "traefik.http.middlewares.traefik-forward-auth.forwardauth.address=http://traefik-forward-auth:4181"
      - "traefik.http.middlewares.traefik-forward-auth.forwardauth.authResponseHeaders=X-Forwarded-User"
      - "traefik.http.middlewares.traefik-forward-auth.forwardauth.tls.insecureSkipVerify=true"
      - "traefik.http.services.traefik-forward-auth.loadbalancer.server.port=4181"
    networks:
      - web
{% if is_vagrant | default(false) %}
    extra_hosts:
      - "auth.${DOMAIN}:host-gateway"
{% endif %}

  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak
    restart: unless-stopped
    environment:
      - KC_HEALTH_ENABLED=true
      - KC_DB=postgres
      - KC_DB_URL=jdbc:postgresql://keycloak-postgres:5432/keycloak
      - KC_DB_USERNAME=keycloak
      - KC_DB_PASSWORD=${KC_DB_PASSWORD}
      - KC_HOSTNAME=auth.${DOMAIN}
      - KC_HOSTNAME_STRICT=false
#      - KC_HOSTNAME_STRICT_BACKCHANNEL=false  # Deprecated
      - KC_BOOTSTRAP_ADMIN_USERNAME=admin
      - KC_BOOTSTRAP_ADMIN_PASSWORD=hacker
      - KC_PROXY_HEADERS=xforwarded
      - KC_HTTP_ENABLED=true
      - KC_HTTP_PORT=8080
      - KC_LOG_LEVEL=info
    command: start --import-realm
    volumes:
      - ./keycloak:/opt/keycloak/data/import:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.keycloak.rule=Host(`auth.${DOMAIN}`)"
      - "traefik.http.routers.keycloak.entrypoints=https"
      - "traefik.http.services.keycloak.loadbalancer.server.port=8080"
      - "traefik.http.routers.keycloak.service=keycloak"
      - "traefik.http.routers.keycloak.tls=true"
      - "traefik.http.routers.keycloak.tls.certresolver=default"
    networks:
      - web
      - keycloak-net
    depends_on:
      - keycloak-postgres
    healthcheck:
      test: [ "CMD-SHELL", "exec 3<>/dev/tcp/localhost/9000 && printf 'GET /health/ready HTTP/1.0\r\n\r\n' >&3 && timeout --preserve-status 1 cat <&3 | grep -m 1 -q 'HTTP/1.0 200'" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 1200s

  keycloak-postgres:
    image: postgres:18
    container_name: keycloak-postgres
    restart: unless-stopped
    environment:
      - POSTGRES_DB=keycloak
      - POSTGRES_USER=keycloak
      - POSTGRES_PASSWORD=${KC_DB_PASSWORD}
    volumes:
      - ./keycloak-postgres:/var/lib/postgresql
    networks:
      - keycloak-net
#    healthcheck:
#      test: ["CMD-SHELL, pg_isready -U keycloak"]
#      interval: 30s
#      timeout: 30s
#      retries: 5
#      start_period: 120s

networks:
  web:
    external: true
  keycloak-net:
    external: true