services:
  traefik-forward-auth:
    image: barni112/traefik-forward-auth:latest
    container_name: traefik-forward-auth
    restart: unless-stopped
    user: "1000:1000"
    # ports:
    # - "4181:4181"
    # noinspection HttpUrlsUsage
    environment:
      - DEFAULT_PROVIDER=oidc
      - PROVIDERS_OIDC_ISSUER_URL=https://auth.${DOMAIN}/realms/newpush-labs
      - PROVIDERS_OIDC_CLIENT_ID={{ oidc_client_id }}
      - PROVIDERS_OIDC_CLIENT_SECRET={{ oidc_client_secret }}
      - PROVIDERS_OIDC_SKIP_VERIFY_TLS=true
      - SECRET={{ cookie_secret }}
      - LOG_LEVEL=debug
      - INSECURE_COOKIE=true # Example assumes no https, do not use in production
    labels:
      - "traefik.http.middlewares.traefik-forward-auth.forwardauth.address=http://traefik-forward-auth:4181"
      - "traefik.http.middlewares.traefik-forward-auth.forwardauth.authResponseHeaders=X-Forwarded-User"
      - "traefik.http.middlewares.traefik-forward-auth.forwardauth.tls.insecureSkipVerify=true"
      - "traefik.http.services.traefik-forward-auth.loadbalancer.server.port=4181"
    networks:
      - web
{% if is_vagrant | default(false) %}
    extra_hosts:
      - "auth.${DOMAIN}:host-gateway"
{% endif %}

  keycloak:
    pull_policy: never
    build:
      context: {{ lab_dir }}/services/keycloak
      dockerfile: keycloak.Dockerfile
    image: newpush-lab/keycloak:optimized
    container_name: keycloak
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.keycloak.rule=Host(`auth.${DOMAIN}`)"
      - "traefik.http.routers.keycloak.entrypoints=https"
      - "traefik.http.services.keycloak.loadbalancer.server.port=8080"
      - "traefik.http.routers.keycloak.service=keycloak"
      - "traefik.http.routers.keycloak.tls=true"
      - "traefik.http.routers.keycloak.tls.certresolver=default"
    networks:
      - web
      - keycloak-net
    depends_on:
      - keycloak-postgres
    healthcheck:
      test: [ "CMD-SHELL", "exec 3<>/dev/tcp/localhost/9000 && printf 'GET /health/ready HTTP/1.0\r\n\r\n' >&3 && timeout --preserve-status 1 cat <&3 | grep -m 1 -q 'HTTP/1.0 200'" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 1200s

  keycloak-postgres:
    image: postgres:18
    container_name: keycloak-postgres
    restart: unless-stopped
    environment:
      - POSTGRES_DB=keycloak
      - POSTGRES_USER=keycloak
      - POSTGRES_PASSWORD=${KC_DB_PASSWORD}
    volumes:
      - ./keycloak-postgres:/var/lib/postgresql
    networks:
      - keycloak-net
#    healthcheck:
#      test: ["CMD-SHELL, pg_isready -U keycloak"]
#      interval: 30s
#      timeout: 30s
#      retries: 5
#      start_period: 120s

networks:
  web:
    external: true
  keycloak-net:
    external: true